.tableStyle {
    border: 1px solid #b3b3b3!important;
    border-collapse: collapse!important;
    table-layout: fixed;
    margin: auto;
    width: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    overflow-x:auto
}

.tableStyle td {
    border: 1px solid #f2f2f2!important;
    border-collapse: collapse!important;
    padding: 4px;
    white-space: nowrap;
    text-align: left;
    vertical-align: initial;
}
    
.tableStyle tr {
    border: 1px solid #f2f2f2!important;
    border-collapse: collapse!important;
    padding: 15px;
    text-align: left;
    vertical-align: initial;
}

.tableStyle th {
    text-align: left;
    font-weight: 100;
    padding: 15px;
    background-color: #f2f2f2;
    color: black;
}

#table-body {
    text-align: center;
}

.table-para {
    font-family: sans-serif;
    font-weight: 550;
    font-size: 20px;
    margin-top: -2%;
}