.filter-body-sort {
    width: 100%;
    border: solid 1px #0000002e;
    border-radius: 10px;
    margin: 0% 0% 3% 0%;
    height: 70px;
}

.sort-radio {
    margin-top: 1%;
    margin-left: -4% !important;
}

.btn-sort {
    border-radius: 6px;
    width: 22% !important;
    height: 38px;
    margin-top: 4%;
    margin-bottom: 1.5%;
    margin-left: 18%;
}

.sort-close {
    margin-top: 5%;
    opacity: 1;
    margin-left: 61%;
    position: absolute;
}

.sort-dropdown {
    margin-left: 1.5%;
    padding-top: 4%;
}

.sorting-radio-para {
    margin-left: 40%;
    margin-top: 10%;
    margin-bottom: 1%;
}