.App {
  text-align: center;
}

.btn-primary {
  width: 50%;
}

.chart-container {
  overflow: auto;
  text-align: center;
}

.form-control {
background-color: #F5F5F5;
}

.muze-viz {
  margin: auto;
}

.close-icon {
  height: 20px;
  width: 20px;
}

.chart-body {
  margin-top: 1%;
}

.back-icon {
  margin-top: 8%;
  height: 45px;
  width: 45px;
}

.back-icon:hover{
 cursor: pointer;
}

button:focus {outline:0;}


.github-ribbon {
  position: absolute;
  top:-35px;
  right:-114px;
  padding: 1px 0;
  
  transform-origin: top left;
  transform: rotate(45deg);
  
  background-color: #ea7600;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.25), transparent);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
  
}

.github-ribbon__link {
  display: inline-block;
  width: 250px;
  font-weight: 600;
  color: #f9f9f9;
  font-size: 1em;
  letter-spacing: 0.06em;
  text-shadow: 0 -1px #777;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  border-top: 1px dotted lighten(#ea7600, 30%);
  border-bottom: 1px dotted lighten(#ea7600, 20%);
}

a:hover{
  cursor: pointer;
  color:#FFF;
  text-decoration:none;
}